.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
  overflow: auto;
}

.card-image {
  max-width: 45%;
  height: auto;
}