<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <div class="search-container">
    <mat-form-field class="search-input">
      <mat-label>Search</mat-label>
      <input matInput [value]="searchTerm | async" (input)="onInput($event)" type="text" placeholder="Search by name, owner, breed...">
    </mat-form-field>
    <button mat-icon-button class="search-clear" *ngIf="searchTerm.value !== ''" (click)="clearSearch()">
      <mat-icon>clear</mat-icon>
    </button>
  </div>
  <mat-grid-list [cols]="columns" rowHeight="350px" gutterSize="20px">
    <ng-container *ngFor="let card of paginatedCards | async">
      <!-- First Pet Card -->
      <mat-grid-tile [colspan]="card.cols" [rowspan]="card.rows">
        <div class="card-container">
          <div class="first-pet">
            <mat-card *ngIf="!card.flip" class="dashboard-card" (click)="toggleFlip(card)">
              <mat-card-header>
                <mat-card-title class="pet-name">
                  {{card.name}}
                </mat-card-title>
              </mat-card-header>
              <mat-card-content class="dashboard-card-content-front mat-body-1">
                <ng-container *ngIf="card.owner_name.includes('Krystsina'); else notBonnie">
                  <div class="spinner">
                    <mat-spinner class="spinner" *ngIf="isLoading" diameter="50" color="primary"></mat-spinner> <!-- Adjust diameter and color as needed --> <br>
                  </div>
                  <img [lazyLoad]="card.pet_photo3" (load)="onImageLoad()"  class="pet-image" mat-card-image alt="Pet Photo"> <br>
                </ng-container>
                <ng-template #notBonnie>
                  <div class="spinner">
                    <mat-spinner class="spinner" *ngIf="isLoading" diameter="50" color="primary"></mat-spinner> <!-- Adjust diameter and color as needed --> <br>
                  </div>
                  <img [lazyLoad]="card.pet_photo" (load)="onImageLoad()"  class="pet-image" mat-card-image alt="Pet Photo"> <br>
                </ng-template>
                <b>Pet Type:</b> {{card.pet_type}}<br>
                <b>Breed:</b> {{card.breed}}<br>
              </mat-card-content>
            </mat-card>
            <mat-card *ngIf="card.flip" class="dashboard-card" (click)="toggleFlip(card)">
              <mat-card-header>
                <mat-card-title class="pet-name">
                  {{card.name}}
                </mat-card-title>
              </mat-card-header>
              <mat-card-content class="dashboard-card-content-back mat-body-1">
                <b>Breed:</b> {{card.breed}}<br>
                <b>Pet Type:</b> {{card.pet_type}}<br>
                <b>Pet Color:</b> {{card.pet_color}}<br>
                <b>Owner:</b> {{card.owner_name}}<br>
                <b>Phone:</b> {{card.phone}}<br>
                <b>Email:</b> {{card.email}}<br>
                <b>Property:</b> {{card.location}}<br>
              </mat-card-content>
              <mat-card-footer>
                <mat-card-actions>
                  <button mat-flat-button class="more-button" color="accent" aria-label="More Info" (click)="goToPetPage(card.id); $event.stopPropagation()">
                    View More...
                  </button>
                </mat-card-actions>
              </mat-card-footer>
            </mat-card>
          </div>
        </div>
      </mat-grid-tile>
    
          <!-- Second Pet Card, if exists -->
      <ng-container *ngIf="!card.name2.includes('N/A')">
        <mat-grid-tile [colspan]="card.cols" [rowspan]="card.rows">
          <div class="second-pet">
            <mat-card *ngIf="!card.flip" class="dashboard-card" (click)="toggleFlip(card)">
              <mat-card-header>
                <mat-card-title class="pet-name">
                  {{card.name2}}
                </mat-card-title>
              </mat-card-header>
              <mat-card-content class="dashboard-card-content-front mat-body-1">
                <mat-spinner class="spinner" *ngIf="isLoading" diameter="50" color="primary"></mat-spinner> <!-- Adjust diameter and color as needed --> <br>
                <img [lazyLoad]="card.pet_photo2" (load)="onImageLoad()" class="pet-image" mat-card-image alt="Pet Photo"> <br>
                <b>Pet Type:</b> {{card.pet_type2}}<br>
                <b>Breed:</b> {{card.breed2}}<br>
              </mat-card-content>
            </mat-card>
            <mat-card *ngIf="card.flip" class="dashboard-card" (click)="toggleFlip(card)">
              <mat-card-header>
                <mat-card-title class="pet-name">
                  {{card.name2}}
                </mat-card-title>
              </mat-card-header>
              <mat-card-content class="dashboard-card-content-back mat-body-1">
                <b>Breed:</b> {{card.breed2}}<br>
                <b>Pet Type:</b> {{card.pet_type2}}<br>
                <b>Pet Color:</b> {{card.pet_color2}}<br>
                <b>Owner:</b> {{card.owner_name}}<br>
                <b>Phone:</b> {{card.phone}}<br>
                <b>Email:</b> {{card.email}}<br>
                <b>Property:</b> {{card.location}}<br>
              </mat-card-content>
              <mat-card-footer>
                <mat-card-actions>
                  <button mat-flat-button class="more-button" color="accent" aria-label="More Info" (click)="goToPetPage(card.id); $event.stopPropagation()">
                    View More...
                  </button>
                </mat-card-actions>
              </mat-card-footer>
            </mat-card>
          </div>
        </mat-grid-tile>
      </ng-container>
    </ng-container>
  </mat-grid-list>
  <mat-paginator [length]="totalCards" [pageSize]="pageSize" [pageSizeOptions]="[10, 20, 50]" (page)="onPageChange($event)"></mat-paginator>
</div>
