.grid-container {
  margin: 64px;
}

.card-container {
  display: flex;
  gap: 10px;
  align-items: flex-start; /* Ensures cards align at the top */
  height: 100%;
}

.mat-grid-tile-content {
  align-items: unset; /* Removes the align-items property for double-pet entries*/
  display: table; /* Help with alignment of cards in grid*/
}

.dashboard-card {
  min-width: 232px;
  flex-direction: column;
  height: 100%;
}

.fixed-header {
  position: sticky;
  top: 64px;
  background: #f9f9f9; // Or match your app's background color
  z-index: 1000;
  padding: 20px 20px 0 20px;
}

.more-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.dashboard-card-content-front {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; /* Prevents wrapping of overflow text */
  width: 200px;
}

.dashboard-card-content-back {
  margin-top: 20px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; /* Prevents wrapping of overflow text */
  width: 200px;
}

.pet-name {
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

::ng-deep .dashboard-card .mat-card-header {
  background-color: lightblue;
  margin: -16px -16px 16px -16px;
  padding: 12px 16px;
  border-radius: 4px 4px 0 0;
}

::ng-deep .dashboard-card .mat-card-title {
  margin-bottom: 0;
  color: #000;
  font-weight: 500;
}

.pet-image {
  max-width: 200px;
  height: 200px;
  object-fit: cover;
}

.mat-grid-tile {
  overflow: visible;
  display: flex;
  align-items: center;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-input {
  flex-grow: 1;
}

.mat-form-field {
  flex-grow: 1; /* Allow the form field to take up available space */
}

.search-clear{
  align-self: flex-start; /* Center the button vertically if necessary */
}

.spinner {
  display: flex;
  justify-content: center;
}