<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-form-field class="search-input">
    <input matInput (input)="onInput($event)" type="text" placeholder="Search by name, owner, breed...">
  </mat-form-field>
  <mat-grid-list [cols]="columns" rowHeight="350px" gutterSize="20px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card *ngIf="!card.flip" class="dashboard-card" (click)="toggleFlip(card)">
        <mat-card-header>
          <mat-card-title class="pet-name">
            {{card.name}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content-front mat-body-1">
          <img [lazyLoad]="card.pet_photo" class="pet-image" mat-card-image src="{{card.pet_photo}}" alt="Pet Photo" [defaultImage]="placeholderImage"><br>
          <b>Pet Type:</b> {{card.pet_type}}<br>
          <b>Breed:</b> {{card.breed}}<br>
          <button mat-icon-button class="more-button" aria-label="More Info" (click)="goToPetPage(card.id); $event.stopPropagation()">
            <mat-icon>open_in_full</mat-icon>
          </button>
        </mat-card-content>
      </mat-card>
      <mat-card *ngIf="card.flip" class="dashboard-card" (click)="toggleFlip(card)">
        <mat-card-header>
          <mat-card-title class="pet-name">
            {{card.name}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content-back mat-body-1">
          <b>Breed:</b> {{card.breed}}<br>
          <b>Pet Type:</b> {{card.pet_type}}<br>
          <b>Pet Color:</b> {{card.pet_color}}<br>
          <b>Owner:</b> {{card.owner_name}}<br>
          <b>Phone:</b> {{card.phone}}<br>
          <b>Email:</b> {{card.email}}<br>
          <b>Property:</b> {{card.location}}<br>
          <button mat-icon-button class="more-button" aria-label="More Info" (click)="goToPetPage(card.id); $event.stopPropagation()">
            <mat-icon>open_in_full</mat-icon>
          </button>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
