.grid-container {
  margin: 20px;
}

.card-container {
  display: flex;
  gap: 10px;
  align-items: flex-start; /* Ensures cards align at the top */
}

.first-pet, .second-pet {
  flex: 1; /* Ensures both cards take up equal space */
}

.dashboard-card {
  position: absolute;
  min-width: 232px;
  flex-direction: column;
  height: 100%;
}

.more-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.dashboard-card-content-front {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
}

.dashboard-card-content-back {
  margin-top: 20px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
}

.pet-name {
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pet-image {
  max-width: 200px;
  height: 200px;
  object-fit: cover;
}

.mat-grid-tile {
  overflow: visible;
}

.search-input {
  width: 100%;
}