<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="full-width-table" matSort aria-label="Elements">
    <!-- Id Column -->
    <!-- <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container> -->

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row">{{row.name}}</td>
    </ng-container>

    <!-- Pet Type Column -->
    <ng-container matColumnDef="pet_type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Pet Type</th>
      <td mat-cell *matCellDef="let row">{{row.pet_type}}</td>
    </ng-container>

    <!-- Breed Column -->
    <ng-container matColumnDef="breed">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Breed</th>
      <td mat-cell *matCellDef="let row">{{row.breed}}</td>
    </ng-container>

    <!-- Pet Color Column -->
    <ng-container matColumnDef="pet_color">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Pet Color</th>
      <td mat-cell *matCellDef="let row">{{row.pet_color}}</td>
    </ng-container>

    <!-- Owner's Name Column --> 
    <ng-container matColumnDef="owner_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Owner's Name</th>
      <td mat-cell *matCellDef="let row">{{row.owner_name}}</td>
    </ng-container>

    <!-- Location Column -->
    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
      <td mat-cell *matCellDef="let row">{{row.location}}</td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <!-- <mat-paginator #paginator
      [length]="dataSource.data.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page">
  </mat-paginator> -->
</div>
