.grid-container {
    margin: 64px;
}

.back-button {
  position: fixed;
  top: 8px;
  left: 8px;
  z-index: 20;
}

.delete-button {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 1;
}

.large-screen {
  .pet-image {
      max-width: 600px;
      height: 600px;
      object-fit: cover;
  }
  .dashboard-card {
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    display: flex;
    width: 625px;
    flex-direction: column;
    height: 100%;
  }
  
  .mat-grid-tile {
    overflow: visible;
    height: 600px;
  }
}
  
.small-screen {
  .pet-image {
      max-width: 325px;
      height: 350px;
      object-fit: cover;
  }
  .dashboard-card {
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    display: flex;
    width: 350px;
    flex-direction: column;
    height: 100%;
  }
  
  .mat-grid-tile {
    overflow: visible;
    height: 600px;
  }
}

.photo-card {
  text-align: center;
}

::ng-deep .dashboard-card .mat-card-header {
  background-color: lightblue;
  margin: -16px -16px 16px -16px;
  padding: 12px 16px;
  border-radius: 4px 4px 0 0;
}

::ng-deep .dashboard-card .mat-card-title {
  margin-bottom: 0;
  color: #000;
  font-weight: 500;
}