.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.toolbar-title {
  justify-content: space-between;
  position: fixed;
  z-index: 10;
}

.spacer {
  flex: 1 1 auto;
}

.user-info {
  margin-right: 16px;
  font-size: 14px;
  display: flex;
  align-items: center;
}