// Import Angular Material Theming Core
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$blue-palette,
      tertiary: mat.$cyan-palette,
      theme-type: light,
    ),
  ));
}